<div flex layout="row">

    <div flex layout="column" offset="20">
        <md-content>
            <div flex>
                <h1 class="md-display-3 topic"> Topics</h1>


                <div layout="row" layout-wrap style="padding-bottom: 32px;" ng-cloak
                     class="topicsContainer">


                    <md-whiteframe class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center"
                                   ng-repeat="topic in vm.topics track by topic.id" ng-mouseover="vm.hoverIn(topic)"
                                   ng-mouseleave="vm.hoverOut(topic)">

                        <div ng-if="!topic.active">

                            <div ng-repeat="pair in topic.counts | orderBy:weight | limitTo:4"><p>{{pair.text}}</p>
                            </div>


                        </div>

                        <div>
                            <div ng-show="topic.active">

                                <a ng-href="#/topic/{{topic.id}}">{{topic.name}}</a>
                            </div>
                        </div>


                    </md-whiteframe>
                </div>

            </div>


        </md-content>
    </div>


</div>



