<!DOCTYPE html>
<html ng-app="topic_app">
<head>
    <title>Topic Modeling</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>


    <link rel="stylesheet" href="/static/libs/jqcloud2/dist/jqcloud.min.css"/>

    <!-- Latest compiled and minified CSS -->
    <script src="/static/libs/jquery/dist/jquery.min.js"></script>


    <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.css">
    <link href="/static/libs/fontawesome/css/font-awesome.css" rel="stylesheet">


    <script src="/static/libs/angular/angular.min.js"></script>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>-->

    <script src="/static/libs/angular-route/angular-route.min.js"></script>

    <script src="/static/libs/angular-aria/angular-aria.min.js"></script>

    <script src="/static/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/static/libs/angular-material/angular-material.js"></script>

    <link rel="stylesheet" href="/static/libs/angular-material/angular-material.min.css">


    <script src="/static/libs/jqcloud2/dist/jqcloud.min.js"></script>

    <script src="/static/libs/angular-jqcloud/angular-jqcloud.js"></script>

    <script src="/static/libs//d3/d3.js"></script>
    <script src="/static/libs//nvd3/nv.d3.js"></script>
    <!-- or use another assembly -->
    <script src="/static/libs//angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="/static/libs//nvd3/nv.d3.css">

    <script type='text/javascript' src="/static/libs/angular-animate/angular-animate.min.js"></script>


    <link rel='stylesheet' href='/static/libs//angular-loading-bar/build/loading-bar.min.css' type='text/css'
          media='all'/>

    <script type='text/javascript' src="/static/libs/marked/marked.min.js"></script>

    <script type='text/javascript' src="/static/libs/angular-loading-bar/build/loading-bar.min.js"></script>

    <script type='text/javascript' src="/static/libs/angular-marked/angular-marked.min.js"></script>


    <link rel="stylesheet" href="/static/app.css"/>


</head>
<body layout="column" ng-controller="NavCtrl as nc">

<md-toolbar layout="row">
    <md-button class="menu" hide-gt-sm ng-click="nc.toggleMenu()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Super User Topic Modelling</h1>
</md-toolbar>


<div flex layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
        <md-list>
            <md-list-item ng-repeat="sec in nc.sections">
                <md-button ng-href="#{{sec.path}}" ng-class="{'selected' : sec == mc.activeSection() }">
                    <h2 class="md-title">{{::sec.title}}</h2>
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>


    <div ng-view="content" flex layout="row"></div>
</div>


<!-- bower:css -->
<link rel="stylesheet" href="libs/jqcloud2/dist/jqcloud.css" />
<link rel="stylesheet" href="libs/nvd3/src/nv.d3.css" />
<link rel="stylesheet" href="libs/angular-loading-bar/build/loading-bar.css" />
<link rel="stylesheet" href="libs/angular-material/angular-material.css" />
<!-- endbower -->


<!-- bower:js -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/angular/angular.js"></script>
<script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="libs/angular-route/angular-route.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.js"></script>
<script src="libs/angular-aria/angular-aria.js"></script>
<script src="libs/jqcloud2/dist/jqcloud.js"></script>
<script src="libs/angular-jqcloud/angular-jqcloud.js"></script>
<script src="libs/d3/d3.js"></script>
<script src="libs/nvd3/nv.d3.js"></script>
<script src="libs/angular-nvd3/dist/angular-nvd3.min.js"></script>
<script src="libs/angular-loading-bar/build/loading-bar.js"></script>
<script src="libs/angular-animate/angular-animate.js"></script>
<script src="libs/marked/lib/marked.js"></script>
<script src="libs/angular-marked/angular-marked.js"></script>
<script src="libs/angular-material/angular-material.js"></script>
<script src="libs/angular-location-update/angular-location-update.js"></script>
<script src="libs/angular-paginate-anything/dist/paginate-anything-tpls.js"></script>
<script src="libs/angularUtils-pagination/dirPagination.js"></script>
<!-- endbower -->


<script src="/static/app_combined.js"></script>

<!--
<script src="/static/components/topics/topics.js"></script>
<script src="/static/components/topic/topic.js"></script>
<script src="/static/components/analyze/analyze.js"></script>

<script src="/static/components/about/about.js"></script>
<script src="/static/components/main/models.js"></script>
<script src="/static/components/pyldaviz/pyldaviz.js"></script>
<script src="/static/app.js"></script>

-->

</body>


</html>