<div flex layout="column" offset="20" layout-align="center center">
    <div layout="row" flex="20">
        <md-input-container flex>
            <label>Topic</label>
            <md-select ng-model="topic">
                <md-option ng-repeat="t in topics track by t.topic_id" value="{{topic_id}}"
                           ng-change="updatePage()">
                    {{t.topic_id}}
                </md-option>
            </md-select>
        </md-input-container>


        <md-input-container>
            <label>Num Words</label>
            <input required type="number" step="any" ng-model="numberOfWords" min="5"
                   max="20"/>

        </md-input-container>


    </div>

    <div layout="row" flex ng-show="topic">
        <div>
            <h2>Topic# {{topic.topic_id}} {{topic.name}} </h2>
        </div>

        <div>
            <p class="lead">#Todo: Insert hopefully Awesome description</p>
        </div>

        <div>
            <div>
                <jqcloud words="topic.counts" id="cloud-dynamic" auto-resize="true" steps="7"
                         font-size="{from:0.09, to:0.04}"></jqcloud>
            </div>

            <div>
                <nvd3 options="options" data="data"></nvd3>

            </div>

        </div>
    </div>


</div>





